DISCORD_TOKEN=el_token_de_tu_bot
CHANNEL_ID=id_del_canal_donde_se_notifica_el_stream
WELCOME_CHANNEL_ID=id_del_canal_de_bienvenida
DEBUG_CHANNEL_ID=id_del_canal_de_pruebas
LIVE_ROLE_ID=id_del_rol_que_se_asigna_automaticamente_al_streamear
CLIENT_ID=id_de_la_aplicacion_de_discord
GUILD_ID=id_del_servidor
TWITCH_CLIENT_ID=client_id_de_tu_app_de_twitch
TWITCH_CLIENT_SECRET=client_secret_de_tu_app_de_twitch
TWITCH_CATEGORY_FILTER=WARDOGS
